{% load static %}

<!DOCTYPE html>

<html>
	<head>
		<title></title>

		<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static '/life/vendor/bootstrap/css/bootstrap.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static '/life/css/main.css' %}" />

		<script src="{% static '/life/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
		<script src="{% static '/life/vendor/jquery-ui/jquery-ui.min.js' %}"></script>
	</head>
	<body>
		
    <div class="container">
    <div class="row">
      <div class="col-4">
        {% for post in posts %}
        <p>
          <b>{{post.title}}</b>
        </p>
        {% endfor %}
      </div>
      <div class="col-8">
        {% for post in posts %}
        <p>
          <h3>{{post.title}}</h3>
          {% for answer in answers %}
            {% ifequal answer.parent post %}
            <p>
              {{answer.user}}: {{answer.text}}
            </p>
            {% endifequal %}
          {% endfor %}
        </p>
        {% endfor %}
        
      </div>
    </div>
    </div>
    

    
    
    <style>
    
      p {color: black;}
      b {color: black;}
      div {border: 1px solid black}
      
    </style>
    
	</body>
</html>