{% load static %}

<!DOCTYPE html>

<html>
	<head>
		<title></title>

		<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static '/life/vendor/bootstrap/css/bootstrap.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static '/life/css/main.css' %}" />

		<script src="{% static '/life/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
		<script src="{% static '/life/vendor/jquery-ui/jquery-ui.min.js' %}"></script>
	</head>
	<body>
		
    <div class="container">
    <div class="row">
      <div class="col-4">
        {% for post in posts %}
        <h5>
          {{post.title}}
        </h5>
        {% endfor %}
      </div>
      <div class="col-8">
        {% for post in posts %}
        <p>
          <h3>{{post.title}}</h3>
          <p class="info">
            {{post.user}} &#40{{post.region}}&#41
          </p>
          <p> {{post.text}} </p>
          {% for answer in answers %}
            {% ifequal answer.parent post %}
            <p>
              <bdi class="user">{{answer.user}} &#40{{answer.region}}&#41</bdi>: {{answer.text}}
            </p>
            {% endifequal %}
          {% endfor %}
        </p>
        {% endfor %}
        
      </div>
    </div>
    </div>
    

    
    
    <style>
    
      p {color: black;}
      b {color: black;}
      div {border: 1px solid black}
      .info {color: graytext; margin-top: -23px; margin-bottom: -3px;}
      .user {color: green; text-decoration: underline;}
      .lowertitle {margin-bottom: 50px; margin-top: 20px;}
      
    </style>
    
	</body>
</html>